.jumbotron {
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('img/black-laptop-beside-black-computer-mouse-inside-room-669996.jpg');

  background-size: cover;
}


@media (min-width: 768px) {
  .jumbotron {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 576px) {
  #heading {
    font-size: 4rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.img-fluid {
  width: 100%;
}

.overlay {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  z-index: 999;
}

.overlay:hover {
  opacity: .9;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

i {
  font-size: x-large;
}